*.txt
.DS_Store
__pycache__/
data/
data_temp/
*testing*
qsub-output/
*.pyc
*.xlsx
*.csv
*.xml
*.pdf
*.pkl
/bhatta-bound-a0.8-s0-d0.1.eps
/bhatta-bound-a0.8-s1-d0.5.eps
/bhatta-bound-a0.8-s0-d0.5.eps
/bhatta-bound-a0.8-s1-d0.1.eps
/bhatta_bound.eps
